/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

/* #region Banner */
#banner {
  background: url("../img/wall.png");
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "Edu Tas Beginner", sans-serif;
  font-size: 5rem;
}
/*#endregion Banner*/

/*#region main */
.container {
  box-sizing: border-box;
  background-image: url("../img/cork.png");
  min-height: 100vh;
}
#posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 12) * 3);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 300px;
  max-height: 360px;
  padding: 10px 10px 30px;
  margin-top: 2rem;
  position: relative;
  font-family: "Sometype Mono", monospace;
}
.pin {
  max-width: 1.5rem;
  max-height: 1.5rem;
  position: absolute;
  left: 7.6rem;
  top: -0.5rem;
}
.post_img {
  max-width: 266px;
  max-height: 266px;
}
/* #endregion Main */
